@model Screenplay

<h1>@ViewData["Title"]</h1>
<p>@ViewData["Subtitle"]</p>
<div>
    <div asp-validation-summary="All" style="color: red; list-style: none;"></div>
    <form method="post" class="add-form">
        <div class="add-form-field">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control"/>
            <span asp-validation-for="Title"></span>
        </div>
        <input class="btn btn-primary" type="submit" value="Add new screenplay" />
        <a class="btn btn-secondary" asp-area="" asp-controller="Screenplay" asp-action="Index">Back</a>
    </form>
</div>
